.component-wrapper {
  width: 100%;
  height: 100%;
  background: grey;
  display: grid;
  place-content: center;
  padding: 2em;
  h1 {
    color: white;
  }
  .row {
    display: grid;
    grid-template-columns: 80px auto;
    .left {
      font-weight: bold;
    }
  }
}
