<div class="component-wrapper">
    <div class="user">
        <div class="row">
            <p class='left'>USERNAME</p>
            <p class='right'>{{user.username}}</p>
        </div>
        <div class="row">
            <p class='left'>NAME</p>
            <p class='right'>{{user.name}}</p>
        </div>
        <div class="row">
            <p class='left'>AGE</p>
            <p class='right'>{{user.age}}</p>
        </div>
        <div class="row">
            <p class='left'>Equity</p>
            <p class='right'>{{user.equity|equity:user.currency}}</p>
        </div>
    </div>
</div>